
.up_desing {
  --bs-bg-opacity: 1;
  background-color: rgb(65, 0, 65);
  width: 100%;
  height: 200px;
  border-bottom-left-radius:  60px ;
  border-bottom-right-radius:  60px ;
  position: static;
}
#background-content {
  left: 0px;
  right: 0px;
  top: calc(var(--offset-top) * -1);
  bottom: calc(var(--offset-bottom) * -1);
  position: absolute;
  background-color: white;
}