<!-- 

  <div class="up_desing">
      <div class="container">
        <a class="navbar-brand" href="#">
          <img src="/docs/5.3/assets/brand/bootstrap-logo.svg" alt="Bootstrap" width="30" height="24">
        </a>
      </div>
      
  </div>
  <div class="d-grid gap-2 col-6 mx-auto">
    <button class="btn btn-primary" type="button">Inicio De Sesion</button>
    <a href="">Ó</a>
    <button class="btn btn-primary" type="button">Google</button>
    <button class="btn btn-primary" type="button">Facebook</button>
  </div>

 -->
 <ion-header>

  <div class="up_desing">
    <div class="container">
      <a class="navbar-brand" href="#">
        <img src="/docs/5.3/assets/brand/bootstrap-logo.svg" alt="Bootstrap" width="30" height="24">
      </a>
    </div>
  </div>

</ion-header>

<ion-content class="inner-scroll">

  <div class="d-grid gap-2 col-6 mx-auto">
    <button class="btn btn-primary" type="button">Inicio De Sesion</button>
    <a href="">Ó</a>
    <button class="btn btn-primary" type="button">Google</button>
    <button class="btn btn-primary" type="button">Facebook</button>
  </div>

</ion-content>
